:root {
  --main-bg-color: #0A0A0A;
  --text-color: #e7dfdf;
  --accent-color: #e91e63;
  --accent-hover-color: #c2185b;
  --secondary-bg-color: #1A1A1A;
  --border-color: #4D4D4D;
}
html{
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--main-bg-color);
}

.accent-color {
  color: var(--accent-color);
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content > section {
  margin-bottom: 5em;
}
.image{
  width: 100%;
  height: auto;
  border-radius: 8px;
}
/* Navbar Styles */

.navbar {
  width: fit-content;
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  padding: 1rem 2rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  transition: transform 0.3s ease;
  top: 2em;
  border-radius: 0.5em;
  z-index: 1000;
  border: var(--border-color) 1px solid;
}

.navbar--hidden {
  transform: translate(-50%, -200%);
}

.navbar__menu {
  display: flex;
  gap: 1.5rem;
}

.navbar__link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar__link:hover {
  border-bottom: 2px solid var(--accent-color);
}

.navbar__link.active {
  border-bottom: 2px solid var(--accent-color);
}

.navbar__icon {
  width: 2rem;
  height: 2rem;
  fill: var(--text-color);
  display: none;
}

@media (max-width: 600px) {
  .navbar__text {
    display: none;
  }
  .navbar__icon {
    display: block;
  }
  .navbar__menu{
    gap: 1rem;
  }
}

/* Hero Section Styles */

.hero {
  background-image: url('../media/MainPage.svg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  transition: opacity 0.5s ease;
  z-index: 1;
  color: white;
}
.hero--faded {
  opacity: 0;
}

.hero__overlay {
  background-color: rgba(0, 0, 0, 0.5); 
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
}

.hero__content {
  text-align: center;
  padding: 2rem;
  margin-bottom: 4rem;
}

.hero__title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.hero__subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero__button {
  background-color: var(--accent-color);
  padding: 0.75rem 2rem;
  color: var(--text-color);
  text-decoration: none;
  border-radius: 0.5em;
  font-weight: bold;
}

.hero__button--secondary {
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
}

.hero__button:hover {
  background-color: var(--accent-hover-color);
}

.section-title {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: var(--text-color);
}
/* Technology Section Styles */

.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.technology__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: left;

}

.technology__item {
  width: 15em;
  height: 4em;
  display: flex;
  flex-direction: row;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  padding: 1rem;
  text-align: left;
  transition: transform 0.3s;
}
.technology__item:hover {
  border-color: var(--accent-color);
}
@media (max-width: 1200px) {
  .technology__container {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .technology__item {
    width: 100%;
  }
}
.technology__item:hover {
  transform: translateY(-5px);
}

.technology__logo {
  background-color: green;
  max-width: 100%;
  padding: 0.5rem;
  height: auto;
  border-radius: 1em;
}

.technology__logo--blue {
  background-color: rgb(77, 77, 158);
}
.technology__logo--light-blue {
  background-color: rgb(0, 153, 255);
}
.technology__logo--white {
  background-color: white;
  filter: invert(1);
}
.technology__logo--orange {
  background-color: rgb(255, 153, 51);
}
.technology__logo--yellow {
  background-color: rgb(255, 255, 255);
}
.technology__logo--gray {
  background-color: rgb(128, 128, 128);
}
.technology__logo--accent {
  background-color: var(--accent-color);
}
.technology__name {
  text-align: left;
  color: var(--text-color);
  font-weight: bold;
  margin: 0;
}
.technology__info {
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}
.technology__description {
  text-align: left;
  color: var(--text-color);
  font-size: 0.8rem;
  margin: 0;
}
/* Project Section Styles */
.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.project__container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  height: 15vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Contact Section Styles */

.contact {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 50em;
}

.contact__item {
  display: flex;
  box-sizing: border-box;
  background-color: var(--secondary-bg-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  width: 100%;
  padding: 1.5em;
  transition: transform 0.3s;
  gap: 1rem;
}
.contact__item:hover {
  border-color: var(--accent-color);
  transform: translateY(-5px);
}
.contact__icon {
  width: 1.6rem;
  color: var(--accent-color);
  align-self:flex-start;
}

.contact__grid {
  box-sizing: border-box;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 100%;
}

.contact__text-container {
  display: flex;
  gap: 0.3rem;
  flex-direction: column;
  text-align: left;
}
.contact__title {
  color: var(--text-color);
  font-size: 1.3rem;
  margin: 0;
  font-weight: bold;
}
.contact__text {
  color: var(--text-color);
  font-size: 1.2rem;
  margin: 0;
}

.contact__link {
  color: var(--accent-color);
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  font-size: 0.8em;
}

a{
  text-decoration: none;
}
/* Footer Styles */
.footer {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
  padding: 1em;
  text-align: center;
  border-top: solid 1px var(--border-color);
}
.footer__text {
  margin: 0;
}